@import '../../stylus/var.styl'

body
  margin: 0
  font-family: 'Lato', Calibri, Arial, sans-serif;
  background-color: rgba(theme-color-500, .4)

.layout-header
  position: fixed
  width: 100%
  background-color: rgba(theme-color-200, .4)
  // box-shadow: 0 2px 3px #AAAAAA;

.layout-main
  max-width: layout-max-width
  min-height: 100vh
  box-sizing: border-box
  margin: 0 auto
  padding: 40px 20px
  background-color: rgba(theme-color-400, .85)

.layout-footer
  background-color: rgba(theme-color-700, .4)

