//- layout.pug
doctype html

html(lang='en')

  head
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    title ZJU School-Bus
    block link

  body
    block header

    block main

    block footer

    block extend
