//- layout.pug
html

  head
    title ZJU School-Bus
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    block links

  body
    block header

    .layout-main
      block main

    block footer

    block extend
