
title-mixins()
  margin-top 50px
  margin-bottom 15px
  font-size 26px
  font-weight bold
  text-align center

sub-tit-mixins()
  margin-top 24px
  margin-bottom 0
  font-size 18px
  font-weight bold
  text-align center
  color #ddd

input-mixins()
  box-sizing border-box
  font-family 'Century Gothic'
  font-size 16px
  font-weight bold
  font-style italic
  border 1px solid #979797
  border-radius 5px
  outline none

button-mixins()
  width 90px
  height 30px
  font-family 'Century Gothic'
  font-size 14px
  font-weight bold
  border 0
  border-radius 5px
  outline none
  cursor pointer
