
title-mixins()
  margin-top 50px
  margin-bottom 15px
  font-size 26px
  font-weight bold
  text-align center
  color #eee

subtit-mixins()
  margin-top 24px
  margin-bottom 0
  font-size 18px
  font-weight bold
  text-align center
  color #ddd

input-mixins()
  box-sizing border-box
  height 30px
  font-family 'CenturyGothic'
  font-size 16px
  font-weight bold
  letter-spacing 0.1em
  border none
  border-bottom 1.5px solid #979797
  color #ddd
  background-color transparent
  outline none

button-mixins()
  // display inline-flex
  // justify-content center
  // align-items center
  box-sizing border-box
  width 90px
  height 30px
  // font-family 'CenturyGothic'
  font-size 14px
  font-weight bold
  border 0
  border-radius 5px
  outline none
  cursor pointer
