
title-mixins()
  margin-top 50px
  margin-bottom 15px
  font-size 26px
  font-weight bold
  text-align center
  color #eee

subtit-mixins()
  margin-top 24px
  margin-bottom 0
  font-size 18px
  font-weight bold
  text-align center
  color #ddd
