//- index.pug
doctype html
html
  include ../components/Header/header.pug
  body
    h1 My Site
    p Welcome to my super lame site.

      | {% endblock %}
      | {% block models %}
      | {% endblock %}