//- index.pug

extend ../components/Layout/layout.pug

block links
  link(rel="stylesheet", href="./static/css/index.css")

block header
  include ../components/Header/header.pug

block main
  .new

block footer
  include ../components/Footer/footer.pug

block extend
  // lifeGame
  include ../components/LifeGame/lifeGame.pug
  script(src="./static/js/index.min.js")
