//- play.pug

extend ../components/Layout/layout.pug

block link
  link(rel="stylesheet", href="./static/css/play.css")

block header
  include ../components/Header/header.pug

block main
  .play

block footer
  include ../components/Footer/footer.pug
