#game-board
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: -2

#lifegame
  box-sizing: border-box
  // 100vw would contain scroll
  width: 100%
  height: 100vh
  margin: 0 auto
  // the same as lifegame
  // you can config the color in lifeGame.js
  border: 2px solid #bdbdbd
  opacity: .6
