@import '../../stylus/color.styl'

.c-header
  display: flex
  justify-content: space-between
  // margin: 0 auto

  .nav, .login
    list-style: none

  .item
    display: inline-block
    margin: 0 10px
    padding: 10px
    letter-spacing: 0.1rem
    color: theme-color-50
    cursor: pointer

    a
      color: inherit
      text-decoration: none

    &:hover
      border: 4px
      color: #111
