//- header.pug

.c-header

  nav.nav
    li.item
      a(href='index.html') Home
    li.item
      a(href='play.html') Play
    li.item
      a Rank
    li.item
      a Activities
    li.item
      a Bonus

  nav.login
    li.item Login in
