@import '../../stylus/var.styl'

.c-news
  max-width: 860px
  margin: 0 auto

  .tit
    margin: 40px 0
    font-size: 3em

  .arti
    margin: 40px

  .meta
    > time
      margin: 0
    > h4
      margin: 10px 0 20px 0
      font-size: 1.5em
      cursor: pointer

  .content
    line-height: 1.5
    letter-spacing: 0.1em
    text-indent: 2em
